body {
  font-family:"Lucida Grande","Arial Unicode MS", sans-serif;
  text-align:center;
  margin:0px;
  padding:0px;
}
ol, li, h1, h3, h4, header {
  padding:0;
  margin:0;
  position:relative;
  list-style-type:none;
}
h1 { 
  color:#3b3314;
  text-shadow: 0px 1px 0px #938346;
  font-size:40px;
}
h3 {
  color:#544a20;
  text-shadow: 0px 1px 0px #938346;
  font-size:16px;
}
h4 {
  margin-bottom:5px;
  color:#484124;
}
ol li li {
  background:#231F20;
  position:relative;
}
form {
  width:700px;
  margin:auto;
}
input[type=text]:hover {
  background:#eee;
}
input {
  clear:both;
  display:block;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
  width:100%;
  font-size:30px;
  padding:10px 0;
  border:1px solid #555;
  position:relative;
  z-index:2;
  color:#444;
}
.placeholder {
  color:#aaa;
}
input.date {
  font-size:20px;
}
.section, .sections {
  position:relative;
}
.clear { 
	clear:both;
	height:0;
	font-size:0;
}


/* Clock Form */
.previous {
  background:#333;
  color:#FFF;
  padding:13px;
  color:#CCC;
  margin:auto;
  opacity:1;
}
.previous p {
	margin:0;
	float:left;
	margin-top:4px;
	width:340px;
	text-align:left;
}
.previous a {
	float:right;
	margin-top:0;
}

#previous_clock {
  color:#ba3b1d;
}
#form .wrapper {
  width:800px;
  margin:auto;
}
#form .left {
  width:250px;
  float:left;
  text-align:left;
}
#form h1 {
  color:#FFF;
  margin:0 0 20px;
  text-shadow: 1px 2px 0px #000;
  font-size:50px;
}
#form h2 {
  font-size:17px;
  color:#ccc;
}
#form form {
  width:450px;
  float:right;
}
p.error {
  background:#f6e660;
  color:#fff;
}
.hint {
  font-size:15px;
  text-shadow:0px 1px 0px #000;
  margin-top:-35px;
  padding:20px 0 5px;
  z-index:1;
  position:relative;
  color:#ddd;
  opacity:0.5;
  border-bottom:1px solid #222;
}
.button {
  color:#f5baba;
  background:#a22c11;
  text-shadow:0px -1px 0px #000;
  border:none;
  border-top:2px solid #AAA;
  border-bottom:1px solid #333;
  margin-top:40px;
  font-size:20px;
  text-decoration:none;
}
.button.small {
  padding:5px 9px;
  font-size:13px;
  border-width:1px;
}

/* Countdown Clock */
.digit, .colon {
  text-align:center;
  font-size:120px;
}
.digit, .colon, .overlay {
  height:140px;
}
.colon {
  color:#FFF;
  width:50px;
}
.digit {
  overflow:hidden;
  float:right;
  background:#000;
}
.numbers {
  width:83px;
  background:#000;
}
.numbers li {
  text-shadow:0px -2px 1px #FFF;
}
.numbers.red li {
  text-shadow:0px -2px 1px #dc6a6a;
}
.colon, .numbers {
  border-right:1px solid #333;
	color:#CCC;
}
.red {
  color:#e63333;
}
.colon,
.unit {
  float:left;
  position:relative;
  background:#000;
}
.unit h3 {
  text-align:right;
  position:absolute;
  top:-30px;
}
.clock {
  border-top:6px solid #433b19;
  border-bottom:6px solid #e6daa3;
  border-left:6px solid #786d40;
  border-right:6px solid #786d40;
  margin:auto;
  width:825px;
  margin-bottom:20px;
  margin-top:50px;
}
#clock {
  position:relative;
}
#frame {
  width:100%;
  position:relative;
  overflow:hidden;
}
.credit {
  position:absolute;
  top:-5px;
  left:-30px;
  width:220px;
  height:12px;
  z-index:100;
  font-size:11px;
  opacity:0.3;
  color:#000;
}
.credit a {
  color:#000;
}

.controls {
  position:absolute;
  top:10px;
  right:5px;
  z-index:10;
}
.controls a {
  padding:4px 8px;
  background:#000;
  opacity:.4;
  color:#FFF;
  border-bottom:1px solid #b1a679;
  border-left:1px solid #786d40;
  text-decoration:none;
}
.controls a:hover {
  background:#CCC;
  color:#000;
}
.sharing {
  bottom:0px;
  position:absolute;
  width:100%;
  background:#7d7244;
  padding:10px 10px 10px;
}
.sharing h4,
.sharing .url {
  opacity:.8;
  font-size:12px;
}
.sharing .url:hover {
  opacity:1;
}
.sharing h4 { 
  color:#000;
  font-size:14px;
}
.sharing .url {
  background:#c8c1a2;
  padding:5px 9px;
  border-top:1px solid #eee9d1;
  font-weight:bold;
  color:#222;
}
.overlay {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}

.hint {
  background:linear-gradient(left top, #6185af, #30445c);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6185af), to(#30445c));
  background:-moz-linear-gradient(center top, #6185af, #30445c);
}
p.error {
  background:linear-gradient(left top, #b666b9, #5a305c);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#b666b9), to(#5a305c));
  background:-moz-linear-gradient(center top, #b666b9, #5a305c);
}

input[type=text] {
  background:linear-gradient(left top, #BBB, #EEE);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBB), to(#EEE));
  background:-moz-linear-gradient(center top, #BBB, #EEE);
}

input[type=text]:hover {
  background:#eee;
}

.button {
  background:linear-gradient(left top, #ba3b1d, #a22c11);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ba3b1d), to(#a22c11));
  background:-moz-linear-gradient(center top, #ba3b1d, #a22c11);
}
.button:hover {
  background:linear-gradient(left top, #ff0000, #a22c11);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0000), to(#a22c11));
  background:-moz-linear-gradient(center top, #ff0000, #a22c11);
}

#form {
  background:linear-gradient(left top, #30445c, #555);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#30445c), to(#555));
  background:-moz-linear-gradient(center top, #30445c, #555);
}

#clock {
  background:linear-gradient(left top, #695e2e, #a49764);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#695e2e), to(#a49764));
  background:-moz-linear-gradient(center top, #695e2e, #a49764);
}

.hint {
  border-radius:4px;
  -moz-border-radius:4px;
}
.previous {
  border-radius:10px;
  -moz-border-radius:10px;
}
input {
  border-radius:7px;
  -moz-border-radius:7px;
}
.button.small {
  border-radius:5px;
  -moz-border-radius:5px;
}