body {
  font-family:"Lucida Grande","Arial Unicode MS", sans-serif;
  text-align:center;
  margin:0px;
  padding:0px;
}
ol, li, h1, h3, h4, header {
  padding:0;
  margin:0;
  position:relative;
  list-style-type:none;
}
h1 { 
  color:#3b3314;
  text-shadow: 0px 1px 0px #938346;
  font-size:40px;
}
h3 {
  color:#544a20;
  text-shadow: 0px 1px 0px #938346;
  font-size:16px;
}
h4 {
  margin-bottom:5px;
  color:#484124;
}
ol li li {
  background:#231F20;
  position:relative;
}
form {
  width:700px;
  margin:auto;
}
input[type=text]:hover {
  background:#eee;
}
input {
  clear:both;
  display:block;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
  width:100%;
  font-size:30px;
  padding:10px 0;
  border:1px solid #555;
  position:relative;
  z-index:2;
  color:#444;
}
.placeholder {
  color:#aaa;
}
input.date {
  font-size:20px;
}
.section, .sections {
  position:relative;
}
.clear { 
	clear:both;
	height:0;
	font-size:0;
}


/* Clock Form */
.p {
  background:#333;
  color:#FFF;
  padding:13px;
  color:#CCC;
  margin:auto;
  opacity:1;
}
.p p {
	margin:0;
	float:left;
	margin-top:4px;
	width:340px;
	text-align:left;
}
.p a {
	float:right;
	margin-top:0;
}

#previous_clock {
  color:#ba3b1d;
}
#f .wrapper {
  width:800px;
  margin:auto;
}
#f .left {
  width:250px;
  float:left;
  text-align:left;
}
#f h1 {
  color:#FFF;
  margin:0 0 20px;
  text-shadow: 1px 2px 0px #000;
  font-size:50px;
}
#f h2 {
  font-size:17px;
  color:#ccc;
}
#f form {
  width:450px;
  float:right;
}
p.error {
  background:#f6e660;
  color:#fff;
}
.hint {
  font-size:15px;
  text-shadow:0px 1px 0px #000;
  margin-top:-35px;
  padding:20px 0 5px;
  z-index:1;
  position:relative;
  color:#ddd;
  opacity:0.5;
  border-bottom:1px solid #222;
}
.b {
  color:#f5baba;
  background:#a22c11;
  text-shadow:0px -1px 0px #000;
  border:none;
  border-top:2px solid #AAA;
  border-bottom:1px solid #333;
  margin-top:40px;
  font-size:20px;
  text-decoration:none;
}
.b.small {
  padding:5px 9px;
  font-size:13px;
  border-width:1px;
}

/* Countdown Clock */
.d, .colon {
  text-align:center;
  font-size:120px;
}
.d, .colon, .overlay {
  height:140px;
}
.colon {
  color:#FFF;
  width:50px;
}
.d {
  overflow:hidden;
  float:right;
  background:#000;
}
.n {
  width:83px;
  background:#000;
}
.n li {
  text-shadow:0px -2px 1px #FFF;
}
.n.red li {
  text-shadow:0px -2px 1px #dc6a6a;
}
.colon, .n {
  border-right:1px solid #333;
	color:#CCC;
}
.red {
  color:#e63333;
}
.colon,
.u {
  float:left;
  position:relative;
  background:#000;
}
.u h3 {
  text-align:right;
  position:absolute;
  top:-30px;
}
.clock {
  border-top:6px solid #433b19;
  border-bottom:6px solid #e6daa3;
  border-left:6px solid #786d40;
  border-right:6px solid #786d40;
  margin:auto;
  width:825px;
  margin-bottom:20px;
  margin-top:50px;
}
#clock {
  position:relative;
}
#frame {
  width:100%;
  position:relative;
  overflow:hidden;
}
.credit {
  position:absolute;
  top:-5px;
  left:-30px;
  width:220px;
  height:12px;
  z-index:100;
  font-size:11px;
  opacity:0.3;
  color:#000;
}
.credit a {
  color:#000;
}

.c {
  position:absolute;
  top:10px;
  right:5px;
  z-index:10;
}
.c a {
  padding:4px 8px;
  background:#000;
  opacity:.4;
  color:#FFF;
  border-bottom:1px solid #b1a679;
  border-left:1px solid #786d40;
  text-decoration:none;
}
.c a:hover {
  background:#CCC;
  color:#000;
}
.s {
  bottom:0px;
  position:absolute;
  width:100%;
  background:#7d7244;
  padding:10px 10px 10px;
}
.s h4,
.s .url {
  opacity:.8;
  font-size:12px;
}
.s .url:hover {
  opacity:1;
}
.s h4 { 
  color:#000;
  font-size:14px;
}
.s .url {
  background:#c8c1a2;
  padding:5px 9px;
  border-top:1px solid #eee9d1;
  font-weight:bold;
  color:#222;
}
.overlay {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}